/* font  */
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9");
/* root  */
#root {
  font-family: "Helvetica Neue", sans-serif;
}
.fontFamily {
  font-family: "Helvetica Neue", sans-serif;
}
/* styles  */ /* navbar style / */
.bg-navtitle {
  background: linear-gradient(
    273.64deg,
    #35c3f3 11.27%,
    #8b9fe8 36.72%,
    #e681d8 61.72%,
    #ffa9a4 82.79%,
    #fed2ce 107.29%,
    #fed2ce 107.29%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

nav {
  max-width: 1200px;
}

.mx-w {
  min-width: 1200px;
}

.max-1200 {
  max-width: 1200px;
}

.tableForSS {
  width: 500px !important;
  overflow-x: scroll;
}

.gradientBorder {
  background: linear-gradient(
    273.64deg,
    #35c3f3 11.27%,
    #8b9fe8 36.72%,
    #e681d8 61.72%,
    #ffa9a4 82.79%,
    #fed2ce 107.29%,
    #fed2ce 107.29%
  );
  border-radius: 8px;
}
